body{
    background-color: #ecf0f1;
}

.form,
.greetings{
    display:none;

}
.showing{
    display: block;
}

.btn {
    cursor: pointer;
}
body {
    color:#34495e;
}

.clicked {
    color: #7f8c8d;
}
